* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background-color: var(--background);
}
html{
   width: 100%;
}
:root{
    --background: black;
    --PrincipalColor: #1bff80;
}
header{
    width: 99%;
    position: absolute;
    padding: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: var(--PrincipalColor) 2px solid;
    justify-content: space-around;
    border-radius: 5px;
}
ul.tabs{
    margin: 0%;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: 80px ;
}
ul.tabs li{
    align-items: center;
    justify-content: center;
    width: 70px;
}
ul.tabs li a{
    color: var(--PrincipalColor);
    font-size: 30px;
    text-decoration: none; 
    text-align: center;
}
.active{
    position: absolute;
    top: 1px;
    border-bottom: var(--background) solid 3px;
    background-color: var(--background);
    border-left: var(--PrincipalColor) 2px solid ;
    border-right: var(--PrincipalColor) 2px solid ;
    align-items: center;
    width: 90px;
}
.secciones{
    background-color: var(--background);
}
.secciones article{
    font-size: 30px;
}
.color{ 
    color: #1bff80 !important;
}
