:root{
        --Secondarycolor: #0f8544;
}
ul.internal{
    margin: 0%;
    list-style: none;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    left:10%;
    margin-top: 10px;
    left: 20%;
}
ul.internal li{
    margin: 0px 15px;
}
ul.internal li a{
    font-size: 30px;
    color: #0f8544;
}
.ItemSeccion{
    position: absolute;
    margin-top: 60px;
    left: 0;
}
tbody td a{
    color: #1bff80;
    padding: 10px 0px;
    font-size: 27px;
}
